<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
        <h4 class="modal-title">Edit Record</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <span class="help-inline"><label for="">*Name</label></span>
              <div class="col-md-8 pull-right">
                  <input type="text" class="form-control" data-ng-model="editCustomerModel.name" required>
              </div>
        </div>
        <div class="form-group">
          <label for="">*Email</label>
              <div class="col-md-8 pull-right">
                  <input type="text" class="form-control" data-ng-model="editCustomerModel.email" required>
              </div>
        </div>
      <div class="form-group">
        <label for="">*Telephone</label>
            <div class="col-md-8 pull-right">
                <input type="text" class="form-control" data-ng-model="editCustomerModel.telephone" required>
            </div>
      </div>
      <div class="form-group">
        <label for="">*Adress</label>
            <div class="col-md-8 pull-right">
                <input type="text" class="form-control" data-ng-model="editCustomerModel.address" required>
            </div>
      </div>
      <div class="form-group">
        <label for="">City</label>
            <div class="col-md-8 pull-right">
                <input type="text" class="form-control" data-ng-model="editCustomerModel.city">
            </div>
      </div>
      <div class="form-group">
        <label for="">Street</label>
            <div class="col-md-8 pull-right">
                <input type="text" class="form-control" data-ng-model="editCustomerModel.street">
            </div>
      </div>
      <div class="form-group">
        <label for="">State</label>
            <div class="col-md-8 pull-right">
                <input type="text" class="form-control" data-ng-model="editCustomerModel.state">
            </div>
      </div>
      <div class="form-group">
        <label for="">Zip</label>
            <div class="col-md-8 pull-right">
                <input type="text" class="form-control" data-ng-model="editCustomerModel.strzip">
            </div>
      </div>
      <button class="btn btn-primary" data-dismiss="modal" ng-disabled="!editCustomerModel.name || !editCustomerModel.email || !editCustomerModel.telephone || !editCustomerModel.address" data-ng-click="updateCustomer(editCustomerModel)">SAVE</button>
      <button class="btn btn-danger" data-dismiss="modal"  data-ng-click="deleteCustomer(editCustomerModel._id)">DELETE</button>
      </div>
    </div>
  </div>
</div>