<!DOCTYPE HTML>
<html data-ng-app="testApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>Test task</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/scripts/angular.min.js"></script>
    <script src="/scripts/angular-route.min.js"></script>
    <script src="/scripts/controllers.js"></script>
  </head>
  <body ng-controller="testAppController">
      <div class="page-header">
        <div class="text-center"><h1>SOFTEVOL TEST TASK</h1></div>
      </div>
      <div class="container" data-ng-init="getCustomers()">
        <table class="table">
          <thead>
              <th>*Name</th>
              <th>*Email</th>
              <th>*Telephone</th>
              <th>*Address</th>
              <th>Street</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
          </thead>
          <tbody>
            <tr data-ng-repeat="c in customers">
              <td>{{c.name}}</td>
              <td>{{c.email}}</td>
              <td>{{c.telephone}}</td>
              <td>{{c.address}}</td>
              <td>{{c.street}}</td>
              <td>{{c.city}}</td>
              <td>{{c.state}}</td>
              <td>{{c.strzip}}</td>
              <td><button class="btn btn-primary" data-ng-click="toggleModal(c)">EDIT</button></td>
            </tr>
            <tr>
            <form name="submit" novalidate>
                <td><input type="text" name="name" class="form-control" data-ng-model="requestModel.name" required /></td>
                <td><input type="email" name="email" class="form-control" data-ng-model="requestModel.email" required/></td>
                <td><input type="text" name="telephone" class="form-control" data-ng-model="requestModel.telephone" required/></td>
                <td><input type="text" name="address"  class="form-control" data-ng-model="requestModel.address" required/></td>
                <td><input type="text" class="form-control" data-ng-model="requestModel.street"/></td>
                <td><input type="text" class="form-control" data-ng-model="requestModel.city"/></td>
                <td><input type="text" class="form-control" data-ng-model="requestModel.state"/></td>
                <td><input type="text" class="form-control" data-ng-model="requestModel.strzip"/></td>
                <td><button class="btn btn-primary" ng-disabled="!requestModel.name || !requestModel.email || !requestModel.telephone || !requestModel.address" data-ng-click="addCustomer()">ADD</button></td>
             </form>
            </tr>
          </tbody>
        </table>
        <label><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>* - required fields</label>
      </div>
      
    <modal title="Login form" visible="showModal">
      <form name="form">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </modal>
  </body>
</html>